body {
    background-color: black;
    color: white;
    font-family: "Roboto", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    padding: 6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leftPosition {
    position: absolute;
    left: 390px;
    width: 200px;
    height: 120px;
    cursor: pointer;
    /* border: 3px solid green; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}